#
# .gitignore
#
# ".gitignore" file for RF24 project
#


# BACKUP FILES #
*~
*.bak
.*.swp
*.orig
.swp

# OBJECT FILES & "BUILD LITTER" #
*.o


# BINARY FILES #
*.so
*.so.*
*.ko
*.dylib
*.dylib.*
*.pyc


# OS-SPECIFIC GARBAGE #
.DS_Store
Desktop.ini


# PROJECT-SPECIFIC #
docs/doxygen/
output/
ojam/
out/

16000000/
8000000/
out_native/

version.h
Session.vim

Makefile.inc
utility/includes.h
examples_linux/*
!examples_linux/**/
!examples_linux/*.*

examples_linux/gettingstarted
examples_linux/gettingstarted_call_response
examples_linux/pingpair_dyn
examples_linux/transfer
examples_linux/extra/rpi-hub
examples_linux/extra/scanner
examples_linux/interrupts/gettingstarted_call_response_int
examples_linux/interrupts/gettingstarted_call_response_int2
examples_linux/interrupts/pingpair_dyn_int
examples_linux/interrupts/transfer_interrupt

pyRF24/RF24.egg-info/
pyRF24/__pycache__/
pyRF24/dist/
